@border-color: #ccc;
@bg-color: rgb(240,240,240);
@bg-color-heavy: rgb(230, 230, 230);
@primary-color: cornflowerblue;
@zIndex-level1: 1;
@zIndex-level2: 10;
@zIndex-level3: 20;
@zIndex-level4: 100;
@zIndex-level5: 200;
@zIndex-leveln: 1000;

.table {
  width: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;

  &.border {
    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;
  }

  * {
    box-sizing: border-box;
  }

  &__row {
    display: inline-flex;

    &.active {
      .table__cell {
        background-color: @bg-color;
      }
    }
  }

  &__cell {
    width: 100px;
    min-width: 100px;
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    border-right: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
    line-height: 1.2;
    
    &.edit {
      .show-content {
        visibility: hidden;
      }

      .edit-content {
        width: 100%;
        height: auto;
        position: absolute;
        top: -2px;
        left: -2px;
        background: #fff;
        border: 2px solid @primary-color;
        z-index: @zIndex-level2;
      }
    }

    .show-content {
      word-break: break-all;
    }
  }

  &__header {
    position: sticky;
    top: 0;
    width: fit-content;
    border-left: 1px solid @border-color;
    white-space: nowrap;
    background-color: @bg-color;
    z-index: @zIndex-level3 + 1;

    .table__cell {
      border-top: 1px solid @border-color;
      border-bottom: 1px solid @border-color;
      background-color: @bg-color;
    }
  }

  &__body {
    width: fit-content;
    display: inline-block;
    border-bottom: 1px solid @border-color;
    border-left: 1px solid @border-color;

    .edit-cell {
      width: 100px;
      height: 10px;
      position: absolute;
      background-color: cadetblue;
      z-index: @zIndex-level2;
    }
  }
}
