@border-color: #ddd;
@bg-color: rgb(240,240,240);
@bg-color-heavy: rgb(230, 230, 230);
@primary-color: cornflowerblue;
@zIndex-level1: 1;
@zIndex-level2: 10;
@zIndex-level3: 20;
@zIndex-level4: 100;
@zIndex-level5: 200;
@zIndex-leveln: 1000;

.table {
  position: relative;
  width: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;

  &.border {
    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;
  }

  * {
    box-sizing: border-box;
  }

  &__row {
    display: inline-flex;
    position: absolute;

    &:hover {
      .move {
        visibility: visible;
      }
    }

    &.active {
      .table__cell {
        background-color: @bg-color;
      }
    }
    
    .move {
      visibility: hidden;
      cursor: pointer;
    }
  }

  &__cell {
    position: relative;
    width: 100px;
    min-width: 100px;
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    border-right: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
    line-height: 1.2;

    // &[cell="index"] {
    //   position: sticky;
    //   left: 0;
    //   border-right: 2px solid rgba(0,0,0,0.2) !important;
    //   background-color: #fff;
    //   z-index: @zIndex-level2;
    // }

    &.edit {
      .show-content {
        visibility: hidden;
      }

      .edit-content {
        width: calc(100% + 6px);
        height: auto;
        min-height: calc(100% + 6px);
        position: absolute;
        top: -3px;
        left: -3px;
        background: #fff;
        border: 3px solid @primary-color;
        border-radius: 2px;
        box-shadow: 0 0 1px @primary-color;
        z-index: @zIndex-level2;
      }
    }

    .show-content {
      word-break: break-all;
    }
  }

  &__header {
    position: sticky;
    top: 0;
    width: fit-content;
    white-space: nowrap;
    background-color: @bg-color;
    z-index: @zIndex-level3 + 1;

    .table__cell {
      border-top: 1px solid @border-color;
      border-bottom: 1px solid @border-color;
      background-color: @bg-color;
    }
  }

  &__body {
    position: absolute;
    margin-top: 37.2px; // &__header 的高度
    width: fit-content;
    display: inline-block;
  }
  
  .fixed-column {
    position: sticky;
    left: 0;
    display: inline-flex;
    border-left: 1px solid @border-color;
    background-color: @bg-color;
    z-index: @zIndex-level3;

    &.shadow {
      &::after {
        content: '';
        position: absolute;
        right: -6px;
        width: 6px;
        height: 100%;
        background-color: rgba(0,0,0,0.1);
      }
    }
  }
}
